%div New
= form(model, "/posts", path_prefix: :comment) do |f|
  - capture_haml do
    = f.input :id
    = f.textarea :body
    = f.checkbox :public, value: true
    = f.collection :replies do |reply|
      - capture_haml do
        = reply.input :content
    = f.nested :owner do |owner|
      - capture_haml do
        = owner.input :name
        = owner.input :email
    = f.input :uuid
    = f.submit value: "Submit"


