<div>New</div>
<% f = form(model, "/posts", path_prefix: :comment) %>
<%= f.start %>
<%= f.input :id %>
<%= f.textarea :body, placeholder: "And your story...", rows: 9 %>
<%= f.checkbox :public %>
<%= f.checkbox :agreed %>
<%= f.checkbox :not_sure %>
<%= f.checkbox :really_not_sure %>
<%= f.collection :replies do |reply| %>
<%= reply.input :content %>
<% end %>
<%= f.nested :owner do |owner| %>
<%= owner.input :name %>
<%= owner.input :email %>
<% end %>
<%= f.input :uuid %>
<%= f.submit value: "Submit" %>
<%= f.end %>
